<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
	<div th:replace="/commonFragment :: myheader"></div>
</head>

<body>
	<div th:replace="/commonFragment :: navbar"></div>

	<main role="main">

	<div class="container mt-5">
		<div class="row">
			<div class="col">
				<h2 th:text="${stationName} + ' Details'"></h2>
			</div>

		</div>

		<div class="row">
			<div class="col">
				<table id="stationtable" data-toggle="table" data-height="100"
					data-ajax="ajaxRequest" data-search="false" data-pagination="false">
					<thead>
						<tr>
							<th data-field="stationName">Station_Name</th>
							<th data-field="province">Province</th>
							<th data-field="weatherDate">Date</th>
							<th data-field="meanTemp">Mean_Temp</th>
							<th data-field="maxTemp">Highest_Monthly_Max_Temp</th>
							<th data-field="minTemp">Lowest_Monthly_Max_Temp</th>
						</tr>
					</thead>
				</table>
				<br/>
				<a href="/">Back</a>

				<script>
					/**
					Handles the request to load the station details into the table.
					Formats request and response into the format expected by Bootstrap Tables
					**/
					function ajaxRequest(params) {

						var url = '/weatherInfo/stations/' +  [[${stationId}]];
						$.get(url).then(function(res) {
							var tableData = {
								rows : [ res ],
								total : 1,
								totalNotFiltered : 1
							};
							params.success(tableData)
						})
					}
				</script>
			</div>
		</div>
	</div>

	</main>
</body>
</html>
